.main-container{
  margin-left: 0px !important;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #c8c8c8;
  background-color: #272b30;

  } 

 .shiny-frame {
    width: 1400px;
    height: 650px;
}